<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner v2.4.1</title>

    <link rel="shortcut icon" type="image/png" href="spec/javascripts/helpers/jasmine-2.4.1/jasmine_favicon.png">
    <link rel="stylesheet" href="spec/javascripts/helpers/jasmine-2.4.1/jasmine.css">

    <script src="spec/javascripts/helpers/jasmine-2.4.1/jasmine.js"></script>
    <script src="spec/javascripts/helpers/jasmine-2.4.1/jasmine-html.js"></script>
    <script src="spec/javascripts/helpers/jasmine-2.4.1/boot.js"></script>
    
    <script id="user-bio-template" type="text/template">
      <img src="<%= model.get("imageUrl") %>" width="200" height="200" alt="<%= model.fullName() %>" class="bio-image shadowed editable" />
      <input type="text" placeholder="Image path" class="imageUrl hidden-edit" value="<%= model.get("imageUrl")%>" data-field-name="imageUrl">
      <div class="bio-text">
	<h1 class="name">
	  <span id="edit-first-name" class="editable"><%= model.get("firstName") %></span>
	  <input type="text" placeholder="First Name" class="firstName hidden-edit" value="<%= model.get("firstName")%>" data-field-name="firstName">
	  <span id="edit-last-name" class="editable"> <%= model.get("lastName") %></span>
	  <input type="text" placeholder="Last Name" class="lastName hidden-edit" value="<%= model.get("lastName")%>" data-field-name="lastName">
	</h1>

	<h2 class="bio">
	  <span id="edit-biography" class="editable"><%= model.get("bio") %></span>
	  <input type="text" placeholder="Biography" class="biography hidden-edit" value="<%= model.get("bio")%>" data-field-name="bio">
	</h2>

	<h3 class="mission">
	  <span id="edit-mission" class="editable"><%= model.get("mission") %></span>
	  <input type="text" placeholder="Mission" class="hidden-edit" value="<%= model.get("mission")%>" data-field-name="mission">
	</h3>
      </div>

    /*  <!--div class="user-projects"-->
      </div>*/
      <section id="projects"></section>

    </script>

    <script id="new-user-template" type="text/template">
      <div>
	<h1>Add A New User</h1>
	  <strong>First Name:</strong>
	  <form action="" id="add-new-user">
	    <input type="text" placeholder="First Name" id="firstName" value="" data-field-name="firstName">
	    <strong>Last Name:</strong>
	    <input type="text" placeholder="Last Name" id="lastName" value="" data-field-name="lastName">
	    <strong>Image URL:</strong>
	    <input type="text" placeholder="Image URL" id="imageUrl" value="" data-field-name="imageUrl">
	    <strong>Biography:</strong>
	    <input type="text" placeholder="Biography" id="bio" value="" data-field-name="bio">
	    <strong>Mission:</strong>
	    <input type="text" placeholder="Mission" id="mission" value="" data-field-name="mission">
	    <input type="submit" value="submit" class="submit">
	  </form>
      </div>

    </script>

    <script type="text/template" id="projectList">
      <section>
	<h2>Recent Project Work</h2>
	<span id="new-project">Add a new project</span>
	<ul id="project-list">
	</ul>
      </section>
    </script>

    <script type="text/template" class="project">
      <li id="<%= model.get("id") %>" class="sortable">
	<div class="info">
	  <img src="<%= model.get("projectImageUrl") %>" width="350" height="165"
	  alt="<%= model.get("title") %>" class="project-image shadowed" data-field-name="projectImageUrl" />

	  <div class="project-details">
	    <h3 class="project-name editable"><%= model.get("title") %></h3>
	    <input class="edit-title hidden-edit" placeholder="Enter a title">
	    <input type="text" placeholder="Title" class="hidden-edit" value="<%= model.get("title")%>" data-field-name="title">

	    <a href="<%= model.get("repoUrl") %>" class="repoUrl editable"><%= model.get("repoUrl") %></a>
	    <input type="text" placeholder="Repo URL" class="hidden-edit" value="<%= model.get("repoUrl")%>" data-field-name="repoUrl">

	    <div class="body editable"><%= model.get("body") %></div>
	    <input type="text" placeholder="Body" class="hidden-edit" value="<%= model.get("body")%>" data-field-name="body">

	    <div class="remove-project">
	      Remove Project
	    </div>
	    <div class="clear"></div>
	  </div>
	</div>
      </li>
    </script>
    
    <script id="new-project-template" type="text/template">
      <div>
	<h1>Add A New Project</h1>
	<form action="" id="add-new-project">
	  <strong>Title:</strong>
	  <input type="text" placeholder="Title" id="title" value="" data-field-name="title">
	  <strong>Repo URL:</strong>
	  <input type="text" placeholder="Repo URL" id="repoUrl" value="" data-field-name="repoUrl">
	  <strong>Image URL:</strong>
	  <input type="text" placeholder="Image URL" id="projectImageUrl" value="" data-field-name="projectImageUrl">
	  <strong>Body:</strong>
	  <input type="text" placeholder="Body" id="body" value="" data-field-name="body">
	  <input type="submit" value="submit" class="submit">
	</form>
      </div>

    </script>

    <!-- TODO: include source files here... -->
    <script src="app/assets/javascripts/libs/underscore.js"></script>
    <script src="app/assets/javascripts/libs/jquery-3.1.0.js"></script>
    <script src="app/assets/javascripts/libs/backbone.js"></script>
    <script src="app/assets/javascripts/libs/backbone.localStorage.js"></script>
    <script src="app/assets/javascripts/app.js"></script>
    <script src="app/assets/javascripts/models/project.js"></script>
    <script src="app/assets/javascripts/collections/projectList.js"></script>
    <script src="app/assets/javascripts/models/user.js"></script>
    <script src="app/assets/javascripts/views/userView.js"></script>
    <script src="app/assets/javascripts/views/homeView.js"></script>
    <script src="app/assets/javascripts/controllers/usersController.js"></script>
    <script src="app/assets/javascripts/views/editableView.js"></script>
    <script src="app/assets/javascripts/collections/userList.js"></script>
    <script src="app/assets/javascripts/views/userListView.js"></script>
    <script src="app/assets/javascripts/views/userShowView.js"></script>
    <script src="app/assets/javascripts/views/userNewView.js"></script>
    <script src="app/assets/javascripts/views/projectListView.js"></script>
    <script src="app/assets/javascripts/views/projectView.js"></script>
    <script src="app/assets/javascripts/views/projectNewView.js"></script>

    <!-- include spec files here... -->
    <script src="spec/javascripts/helpers/SpecHelper.js"></script>
    <script src="spec/javascripts/models/userSpec.js"></script>
    <script src="spec/javascripts/views/userViewSpec.js"></script>
    <script src="spec/javascripts/views/userListViewSpec.js"></script>
    <script src="spec/javascripts/views/userShowViewSpec.js"></script>
    <script src="spec/javascripts/views/userNewViewSpec.js"></script>
    <script src="spec/javascripts/views/projectViewSpec.js"></script>

  </head>

  <body>
    <div id="fixtures" style="position: absolute; top: 1em;"></div>
  </body>
</html>
