<div>
  <h1>Add A New Project</h1>
  <form action="" id="add-new-project">
    <strong>Title:</strong>
    <input type="text" placeholder="Title" id="title" value="" data-field-name="title">
    <strong>Repo URL:</strong>
    <input type="text" placeholder="Repo URL" id="repoUrl" value="" data-field-name="repoUrl">
    <strong>Image URL:</strong>
    <input type="text" placeholder="Image URL" id="projectImageUrl" value="" data-field-name="projectImageUrl">
    <strong>Body:</strong>
    <input type="text" placeholder="Body" id="body" value="" data-field-name="body">
    <input type="submit" value="submit" class="submit">
  </form>
</div>
