<h1>User List</h1>
<p>
  <strong><span class="addUser">Add new user</span></strong>
</p>

<ul>
  <% for (var i = 0; i < users.length; i++) { %>
    <li>
    <img src="<%= users[i].get("imageUrl") %>">
    <strong><a id="<%= users[i].get("id") %>" href="#users/<%= users[i].get("id") %>"> <%= users[i].fullName() %></a></strong>
    </li>
  <% } %>
</ul>

